<div class="panel panel-default">
  <div class="panel-body">
    <p>
        Estimado Belisario:

        Hemos recibido la documentación y el departamento de Recursos Humanos ha verificado que todo está en orden. Próximamente nos pondremos en contacto con usted para formalizar el contrato, tal como habíamos acordado.
        
        El día de la firma pase primero por el despacho de Jenaro y él se encargará de acompañarle y guiarle en todos los pasos.
        
        Un saludo,
        
        Marta Rebolledo
    </p>
  </div>
</div>