<div style="text-align:center" class="align-center" align="center">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

<!-- PRIMER EJEMPLO -->
<!-- <app-cabecera></app-cabecera>

  <div class="divPrincipal">
      <div class="col-md-12">
        <div class="col-md-3">
            <app-perfil></app-perfil>
            <app-formulario></app-formulario>
            <app-resumen></app-resumen>
          </div>
          <div class="col-md-9">
            <app-bandeja-entrada></app-bandeja-entrada>
            <app-bandeja-entrada></app-bandeja-entrada>
            <app-bandeja-entrada></app-bandeja-entrada>
          </div>
      </div>
  </div>
  
  <app-pie-pag></app-pie-pag> -->

  <app-movies></app-movies>
</div>


